@media (prefers-color-scheme: dark){
  body {
    background-color: #fff;
  }
}

@font-face {
  font-family: MyFont;
  src: local('Whitney-Book'), url(./Whitney-Book.otf) format('opentype');
}

.fontFamily{
  font-family: 'MyFont';
}